Source: ros-kinetic-hebiros-description
Section: misc
Priority: extra
Maintainer: Xavier Artache <x@hebirobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-transmission-interface, ros-kinetic-urdf
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-hebiros-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-transmission-interface, ros-kinetic-urdf
Description: Models for Hebi components and hebiros
